<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PubServer_HOST_ShH</key>
	<string>http://crm.chgry.com/chg/api/app/v1/</string>
	<key>PubServer_HOST_BJ</key>
	<string>http://111.202.33.27:9080/chg/api/app/v1/</string>
	<key>clientVersion</key>
	<string>1.1</string>
	<key>PubServer_Token_ShH</key>
	<string>https://crm.chgry.com/chg/</string>
	<key>PubServer_Token_BJ</key>
	<string>http://111.202.33.27:9080/chg/</string>
	<key>BelongsArea</key>
	<string>0</string>
</dict>
</plist>
